<% layout('/layouts/boilerplate') -%>
    <link rel="stylesheet" href="/stylesheet/user.css">
    <!--
    <section class="h-custom">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="/images/CleanBG.png" class="w-100"
                            style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

                            <form action="/register" method="POST" class="px-md-2">

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1q" class="form-control" name="name" />
                                    <label class="form-label" for="form3Example1q">Name</label>
                                </div>


                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                                            value="Female" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="maleGender"
                                            value="Male" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>


                                </div>




                                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                                    <div class="col-md-6">

                                        <div class="form-outline">
                                            <input type="text" id="form3Example1w" class="form-control" name="age" />
                                            <label class="form-label" for="form3Example1w">Age</label>
                                        </div>

                                    </div>
                                </div>
                                <input type="hidden" id="quiz-score" name="score" value="">
                                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="/images/teachers.jpg" alt="Sample photo" class="img-fluid"
                                    style="border-top-left-radius: .45rem; border-bottom-left-radius: .45rem; height: 100%;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Student registration form</h3>
                                    <form action="/register" method="POST" class="px-md-2">
                                        <div class="row">

                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m"
                                                    class="form-control form-control-lg" name="name" />
                                                <label class="form-label" for="form3Example1m">Full Name</label>
                                            </div>


                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m"
                                                    class="form-control form-control-lg" name="age" />
                                                <label class="form-label" for="form3Example1m">Age</label>
                                            </div>
                                        </div>



                                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                            <h6 class="mb-0 me-4">Gender: </h6>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    id="femaleGender" value="Female" checked />
                                                <label class="form-check-label" for="femaleGender">Female</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    id="maleGender" value="Male" />
                                                <label class="form-check-label" for="maleGender">Male</label>
                                            </div>


                                        </div>





                                        <div class="d-flex justify-content-end pt-3">

                                            <button type="submit" class="btn btn-warning btn-lg ms-2">Submit
                                                form</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>